:root {
  --primary-font-family: 'Proxima Nova', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  --mp-font-inter: 'Inter', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  --andes-error-red: #CC1818;
  --woocommerce-primary: #7F54B3;
}

.mp-input-document .mp-input {
  height: 48px !important;
  background: #fff !important;
  border: 1px solid rgb(0 0 0 / 25%);
  border-radius: 6px !important;
  display: flex !important;
  align-items: center !important;
  width: 100% !important;
  box-sizing: border-box !important;
}

div .mp-focus {
  border: 2px solid var(--woocommerce-primary) !important;
}

div .mp-error {
  border: 1px solid var(--andes-error-red) !important;
}

div.mp-error-2px {
  border: 2px solid var(--andes-error-red) !important;
}

#mp-doc-div input-label div.mp-input-label.mp-label-error {
  color: var(--andes-error-red) !important;
}

.mp-checkout-custom-card-row input-label div.mp-input-label.mp-label-error {
  color: var(--andes-error-red) !important;
}

.mp-input-document .mp-input .mp-document-select {
  background: #fff !important;
  font-family: var(--mp-font-inter) !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-size: 16px !important;
  line-height: 20px !important;
  height: 20px !important;
  min-height: 20px !important;
  border: 0 !important;
  margin: 0 8px 0 12px!important;
  outline: none !important;
  cursor: pointer !important;
  letter-spacing: 0 !important;
  color: black !important;
  padding: 0 !important;
  flex-shrink: 0 !important;
  min-width: fit-content !important;
}

.mp-input-document .mp-input .mp-vertical-line {
  height: 36px !important;
  width: 1px !important;
  border-left: 1px solid rgb(0 0 0 / 25%) !important;
}

.mp-input-document .mp-input .mp-document {
  background: #fff !important;
  font-family: var(--mp-font-inter) !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-size: 16px !important;
  line-height: 20px !important;
  height: 20px !important;
  padding: 0 14px !important;
  border: 0 !important;
  outline: none !important;
  border-radius: 8px !important;
  box-shadow: none !important;
  color: #000 !important;
  min-height: 38px !important;
  flex-grow: 1 !important;
  min-width: 0 !important;
}

.mp-input-document .mp-input-document-helper {
  position: static !important;
  margin-top: 5px !important;
  width: 327px !important;
  height: 18px !important;
  left: calc(50% - 327px / 2 + 9px) !important;
  top: 0 !important;
  font-family: var(--mp-font-inter) !important;
  font-size: 13px !important;
  line-height: 18px !important;
  color: var(--andes-error-red) !important;
  display: flex !important;
}

.mp-input-document .mp-input-document-helper .mp-input-document-helper-icon {
  width: 15px !important;
  height: 15px !important;
  left: 0 !important;
  top: 3px !important;
  background: var(--andes-error-red) !important;
  border-radius: 12px !important;
  color: #fff !important;
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
  margin: 1px 5px !important;
}
