.mp-terms-and-conditions-text {
  font-family: 'Proxima Nova', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-size: 14px !important;
  line-height: 18px !important;
  color: rgb(0 0 0 / 55%) !important;
  padding-right: 4px !important;
}

.mp-terms-and-conditions-link {
  font-family: 'Proxima Nova', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-size: 14px !important;
  line-height: 18px !important;
  color: #7f54b3 !important;
  text-decoration: none !important;
}

.mp-terms-and-conditions-link:hover {
  color: #7249a5 !important;
  transition: all 0.3ms !important;
}
