.DS_Store
*.cache

clover.xml
coverage
coverage.xml

.cursor/
/.idea/
/.vscode/
/vendor/
/node_modules/
/code_analysis

woocommerce-mercadopago.zip

qit-env.yml

.env
requirements.md

phpstan-baseline.neon

# SSL certificates (local dev)
*.pem
