.mp-input-label {
  width: 100% !important;
  font-family: var(--mp-font-inter) !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-size: 14px !important;
  line-height: 18px !important;
  color: var(--andes-gray-900) !important;
  padding-bottom: 4px !important;
  padding-left: 6px !important;
}

.mp-input-label b {
  padding-left: 4px !important;
}
