.mp-input-label {
  width: 100% !important;
  font-family: 'Proxima Nova', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-size: 14px !important;
  line-height: 18px !important;
  display: flex;
  align-items: flex-end !important;
  color: rgb(0 0 0 / 90%) !important;
  padding-bottom: 4px !important;
  height: 30px;
}

.mp-input-label b {
  padding-left: 2px !important;
}
