.mp-input-select-input {
  display: flex !important;
  align-items: center !important;
  height: 48px !important;
  background: #fff !important;
  border: 1px solid rgb(0 0 0 / 25%) !important;
  border-radius: 8px !important;
}

.mp-input-select-select {
  background: var(--andes-white) !important;
  border: 1px solid var(--andes-gray-250) !important;
  border-radius: 6px !important;
  color: var(--andes-gray-900) !important;
  font-family: var(--mp-font-inter) !important;
  font-size: 16px !important;
  font-style: normal !important;
  font-weight: 400 !important;
  height: 48px !important;
  line-height: 20px !important;
  outline: 0 !important;
  padding: 14px 12px !important;
  text-align: left !important;
  width: 100% !important;
}
