.mp-helper {
  margin-top: 4px !important;
  margin-bottom: 10px !important;
  font-family: 'Proxima Nova', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif !important;
  font-size: 13px !important;
  color: #f23d4f;
  display: none;
  align-items: center;
  font-weight: 400 !important;
}

.mp-helper .mp-helper-icon {
  width: 15px !important;
  height: 15px;
  background: #f23d4f;
  border-radius: 12px;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 4px;
}
