:root {
  --andes-font-style: "Proxima Nova", -apple-system, "Helvetica Neue", Helvetica, "Roboto", Arial, sans-serif;
}

.mp-helper {
  margin: 4px 6px 0px !important;
  display: none;
  align-items: center !important;
}

.mp-helper .mp-helper-message {
  font-family: var(--mp-font-inter) !important;
  font-size: 13px !important;
  line-height: 18px !important;
  text-align: left !important;
}

.mp-helper .mp-helper-message.error {
  color: var(--andes-error-red) !important;
  font-weight: 600 !important;
  padding-top: 4px 6px 0px !important;

}

.mp-helper .mp-helper-message.message {
  color: var(--andes-gray-550) !important;
  font-weight: 400 !important;
}

.mp-helper .mp-helper-icon {
  margin-right: 6px !important;
  width: 12px !important;
  height: 12px !important;
  display: flex !important;
}

.mp-helper .helper .mp-helper-icon {
  display: none;
}
