:root {
  --andes-font-style: "Proxima Nova", -apple-system, "Helvetica Neue", Helvetica, "Roboto", Arial, sans-serif;
}

.mp-helper {
  margin: 4px 6px !important;
  display: none;
  align-items: center !important;
}

.mp-helper .mp-helper-message {
  font-family: var(--andes-font-style) !important;
  font-size: 13px !important;
  line-height: 18px !important;
  text-align: center !important;
}

.mp-helper .mp-helper-message.error {
  color: #CC1818 !important;
  font-weight: 600 !important;
}

.mp-helper .mp-helper-message.message {
  color: rgba(0, 0, 0, 0.55);
  font-weight: 400 !important;
}

.mp-helper .mp-helper-icon {
  margin-right: 6px !important;
}

.mp-helper .helper .mp-helper-icon {
  display: none;
}
