.mp-checkout-pse-terms-and-conditions {
    align-items: center !important;
    display: flex !important;
    justify-content: center !important;
    padding-top: 16px !important;
    text-align: center !important
}