.mp-checkout-ticket-container {
    align-items: center !important;
    background-color: #fff !important;
    display: flex;
    flex-direction: column !important;
    padding: 24px 16px !important
}

.mp-checkout-ticket-container .mp-checkout-ticket-content .mp-test-mode-card {
      margin-bottom: 24px !important
}

.mp-checkout-ticket-content {
    width: 100% !important
}

.mp-checkout-ticket-test-mode {
    padding: 0 0 25px !important
}

div div .mp-checkout-ticket-content .mp-checkout-ticket-text {
    color: rgba(0, 0, 0, .9) !important;
    font-family: Proxima Nova, system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Open Sans, Helvetica Neue, sans-serif !important;
    font-size: 16px !important;
    font-style: normal !important;
    font-weight: 700 !important;
    line-height: 20px !important;
    padding-bottom: 25px !important;
    padding-left: 0 !important
}

.mp-checkout-ticket-terms-and-conditions {
    align-items: center !important;
    display: flex;
    justify-content: center !important;
    padding-top: 32px !important;
    text-align: center !important
}

/* Billing address only*/

div div .mp-checkout-ticket-content .mp-checkout-ticket-billing-text {
    color: rgba(0, 0, 0, .9) !important;
    font-family: Proxima Nova, system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Open Sans, Helvetica Neue, sans-serif !important;
    font-size: 16px !important;
    font-style: normal !important;
    font-weight: 700 !important;
    line-height: 18px !important;
    padding-bottom: 20px !important;
    padding-left: 0 !important;
    padding-top: 25px !important;
}

.mp-checkout-ticket-billing-checkbox {
    display: flex !important;
    height: 40px !important;
    align-items: center !important;
    padding-bottom: 15px !important;
    gap: 12px !important;
}

.mp-checkout-ticket-billing-checkbox input {
    margin: 0 !important;
    padding: 0 !important;
}

.mp-checkout-ticket-billing-checkbox p {
    color: #000000;
    font-weight: 400 !important;
    font-size: 14px !important;
    line-height: 18px !important;
}

.mp-checkout-ticket-billing-input-row {
    display: flex !important;
    gap: 24px !important;
    justify-content: space-between !important;
    padding-bottom: 32px !important;
    width: 100% !important;
    overflow: hidden;
}

.mp-checkout-ticket-billing-input-column {
    display: flex !important;
    flex-direction: column !important;
    overflow: hidden;
    width: 100% !important;
    box-sizing: border-box;
}

.mp-checkout-ticket-billing-input-column label {
    font-weight: 400 !important;
    font-size: 14px !important;
    line-height: 18px !important;
    color: #000000 !important;
    padding: 0px 0px 4px 6px !important;
    margin: 0 !important;
}

.mp-checkout-ticket-billing-input-number {
    display: flex !important;
    border: 1px solid rgba(0, 0, 0, .25);
    align-content: center !important;
    align-items: center !important;
    vertical-align: middle !important;
    border-radius: 6px !important;
    background: #fff !important;
    height: 48px !important;
    line-height: 20px !important;
    outline: 0 !important;
    padding: 0px 14px !important;
}

.mp-checkout-ticket-billing-input-number-disabled {
    background: #0000000A !important;
    border: 1px solid rgba(0, 0, 0, .25);
    border-radius: 6px !important;
    color: #000 !important;
    font-family: Proxima Nova, system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Open Sans, Helvetica Neue, sans-serif !important;
    font-size: 16px !important;
    font-weight: 400 !important;
    height: 48px !important;
    line-height: 20px !important;
    outline: 0 !important;
    padding: 0px 14px !important;
    max-width: 100% !important;
    margin: 0 !important;
    flex-grow: 0;    /* Prevents items from growing */
    flex-shrink: 0;  /* Prevents items from shrinking */
    border-style: dashed !important;
}

.mp-checkout-ticket-billing-input-number-focused {
    border-color: #7f54b3 !important;
}

.mp-checkout-ticket-billing-input-number-focused-error {
    border-color: #F23D4F !important;
}

.mp-checkout-ticket-billing-input-number-focused-error-on-focus {
    border: 2px solid !important;
}

.mp-checkout-ticket-billing-input-number input {
    width: 65% !important;
    float: left !important;
    border: none !important;
    border-color: none !important;
    color: #000 !important;
    font-family: Proxima Nova, system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Open Sans, Helvetica Neue, sans-serif !important;
    font-size: 16px !important;
    font-weight: 400 !important;
    z-index: 1 !important;
}

.mp-checkout-ticket-billing-input-number input:disabled {
    opacity: 0 !important;
}

.mp-checkout-ticket-billing-input-number input:focus {
    outline: none !important;
    border: none !important; /* Prevent the border from appearing */
}

.mp-checkout-ticket-billing-number-toggle-checkbox {
    width: 35% !important;
    float: right !important;
    display: flex !important;
    align-items: center !important;
    justify-content: flex-end !important;
    gap: 8px !important;
}

.mp-checkout-ticket-billing-number-toggle-checkbox p {
    height: 20px !important;
    color: #000000 !important;
    font-weight: 400 !important;
    font-size: 14px !important;
    line-height: 18px !important;
    padding: 0 !important;
    margin: 0 !important;
}

.mp-checkout-ticket-billing-number-toggle-checkbox input {
    width: auto !important;
    border: 0px !important;
    margin: 0 !important;
}

.mp-checkout-ticket-input-document {
    margin-bottom: 32px !important;
}

@media screen and (max-width: 524px) {
    .mp-checkout-ticket-billing-input-row {
      display: flex !important;
      flex-wrap: wrap !important;
    }
}
