.mp-checkout-pse-terms-and-conditions {
    align-items: center !important;
    display: flex !important;
    justify-content: center !important;
    padding-top: 16px !important;
    text-align: center !important
}

.mp-checkout-pse-container {
    background-color: #fff !important;
    display: flex;
    flex-direction: column !important;
    padding: 24px 16px !important
}

.mp-checkout-pse-text {
    color: rgba(0, 0, 0, .9) !important;
    font-family: Proxima Nova, system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Open Sans, Helvetica Neue, sans-serif !important;
    font-size: 16px !important;
    font-style: normal !important;
    font-weight: 700 !important;
    line-height: 20px !important;
    padding-bottom: 25px !important;
    padding-left: 0 !important
}

.mp-checkout-pse-test-mode {
  padding-bottom: 24px !important;
}

