.payment_method_woo-mercado-pago-credits>label>img {
    width: 32px !important;
    height: 32px !important;
}

.mp-checkout-credits-terms-and-conditions {
    align-items: center !important;
    display: flex !important;
    justify-content: center !important;
    padding-top: 16px !important;
    text-align: center !important;
}

.mp-checkout-credits-container {
    display: flex !important;
    flex-direction: column !important;
    justify-content: center !important;
    padding: 24px 16px !important;
    background-color: #fff !important;
}

.mp-checkout-credits-container .mp-test-mode-card {
    margin-bottom: 24px !important
}

.mp-checkout-credits-content {
    background-color: #fff !important;
}

.mp-checkout-credits-test-mode {
    padding: 0 0 25px !important;
}

.mp-credits-checkout-benefits {
    padding: 40px !important;
}

.mp-checkout-benefits-list-container {
    display: flex;
    flex-direction: column !important;
    font-family: var(--primary-font-family) !important;
}

.mp-checkout-benefits-list-container p {
    padding: 0 !important;
}

.mp-checkout-benefits-list-title {
    text-align: left !important;
    font-style: normal !important;
    font-weight: 600 !important;
    font-size: 18px !important;
    line-height: 24px !important;
    color: rgba(26, 26, 26, 1) !important;
    margin-block-start: 0 !important;
    margin-block-end: 32px !important;
    margin-inline-start: 0 !important;
    margin-inline-end: 0 !important;
}

.mp-checkout-benefits-list {
    list-style-type: none !important;
    display: flex;
    flex-direction: column !important;
    gap: 16px !important;
    margin-block-start: 0 !important;
    margin-block-end: 0 !important;
    margin-inline-start: 0 !important;
    margin-inline-end: 0 !important;
    padding-inline-start: 0 !important;
    line-height: 18px !important;
}

.mp-checkout-benefits-list-item {
    display: flex;
    align-items: center !important;
    justify-content: flex-start !important;
    font-size: 14px !important;
    font-weight: 600;
}

.mp-checkout-benefits-list-item span {
    color: rgb(0, 0, 0, 0.55) !important;
    font-weight: 400;
}

.mp-checkout-benefits-list-item>span>b {
    font-size: 14px !important;
    font-weight: 600;
}

.mp-checkout-benefits-list-count-list-item {
    color: var(--andes-accent-color) !important;
    line-height: 0 !important;
    margin-right: 8px !important;
    text-align: center !important;
    font-weight: 600 !important;
}

.mp-checkout-redirect-v3-container {
  background-color: #f5f5f5 !important;
  align-items: center;
  display: flex;
  padding: 16px 40px !important;
  flex-direction: column;
}

.mp-checkout-redirect-v3-container p {
    font-size: 12px !important;
    font-family: var(--primary-font-family) !important;
    color: var(--andes-text-color-secondary) !important;
}

.mp-checkout-redirect-v3-title-container {
    display: flex !important;
    justify-content: left !important;
    align-items: center !important;
    gap: 12px !important;
    margin-bottom: 8px !important;
}

.mp-checkout-redirect-v3-mp-logo-image {
    width: 20px !important;
    margin: 0 !important;
}

.mp-checkout-redirect-v3-title {
    margin: 0px !important;
    font-weight: 600 !important;
    size: 12px !important;
    line-height: 15px !important;
    color: rgba(0, 0, 0, 0.55) !important;
}

.mp-checkout-redirect-v3-description {
    margin: 0px !important;
    font-weight: 400 !important;
    size: 12px !important;
    line-height: 16px !important;
    color: rgba(0, 0, 0, 0.55) !important;
}

@media (max-width: 768px) {
    .mp-checkout-redirect-v3-container {
        background-color: #F5F5F5 !important;
        padding: 16px 20px !important;
        font-family: var(--primary-font-family) !important;
    }
}

@media (max-width: 400px) {
    .mp-checkout-redirect-v3-container {
        background-color: #F5F5F5 !important;
        padding: 16px 20px !important;
        font-family: var(--primary-font-family) !important;
    }
}

@media only screen and (max-width: 768px) {
    .mp-credits-checkout-benefits {
        padding: 40px 20px !important;
    }
}
