.mp-checkout-container {
  margin: 0 !important;
  padding: 0 !important;
  border: 0 !important;
  font: inherit !important;
  font-size: 100% !important;
  vertical-align: baseline !important;
}

.mp-checkout-yape-container {
  display: flex !important;
  flex-direction: column !important;
  align-items: center !important;
  background-color: #fff !important;
  padding: 24px !important;
}

.mp-checkout-yape-content {
  width: 100% !important;
  padding: 12px !important;
  box-sizing: border-box !important;
}

.mp-checkout-yape-test-mode {
  padding: 0 0 5px !important;
  margin-bottom: 24px !important;
}

.mp-checkout-yape-inputs {
  display: flex;
  align-items: baseline;
  gap: 20px;
  margin-top: 24px;
  flex-wrap: wrap;
  margin-bottom: 24px !important;
  max-width: inherit;
}

.mp-checkout-yape-inputs input-field {
  width: 100% !important;
}

.mp-checkout-yape-terms-and-conditions {
  display: flex;
  align-items: center !important;
  justify-content: center !important;
  text-align: center !important;
  padding-top: 24px !important;
}

.mp-checkout-yape-title-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 24px !important;
  gap: 6px;
}
.mp-checkout-yape-title {
  font-family: 'Proxima Nova', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif !important;
  font-size: 18px !important;
  font-weight: 600 !important;
  line-height: 22px !important;
  text-align: left !important;
  color: #000 !important;
  margin-bottom: 8px;
  margin-top: 0;
}

.mp-checkout-yape-subtitle {
  font-family: 'Proxima Nova', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif !important;
  font-size: 14px !important;
  font-weight: 400 !important;
  line-height: 18px !important;
  text-align: left !important;
  color: rgba(0, 0, 0, 0.55) !important;
  margin-top: 0;
  margin-bottom: 0;
}

.mp-checkout-yape-inputs
.mp-yape-input-container {
  display: flex !important;
  gap: 8px !important;
  width: 100% !important;
}

input.mp-yape-code-input {
  margin: 0 !important;
  padding: 0 !important;
}

@media screen and (max-width: 480px) {
  .mp-checkout-yape-inputs .mp-yape-input-container {
    width: 100% !important;
    display: flex !important;
    gap: 1px !important;
  }

  input.mp-yape-code-input {
    margin: 0 !important;
    padding: 0 !important;
  }
}


