.mp-checkout-container a,
.mp-checkout-container abbr,
.mp-checkout-container acronym,
.mp-checkout-container address,
.mp-checkout-container applet,
.mp-checkout-container article,
.mp-checkout-container aside,
.mp-checkout-container audio,
.mp-checkout-container b,
.mp-checkout-container big,
.mp-checkout-container blockquote,
.mp-checkout-container canvas,
.mp-checkout-container caption,
.mp-checkout-container center,
.mp-checkout-container cite,
.mp-checkout-container code,
.mp-checkout-container dd,
.mp-checkout-container del,
.mp-checkout-container details,
.mp-checkout-container dfn,
.mp-checkout-container div,
.mp-checkout-container dl,
.mp-checkout-container dt,
.mp-checkout-container em,
.mp-checkout-container embed,
.mp-checkout-container fieldset,
.mp-checkout-container figcaption,
.mp-checkout-container figure,
.mp-checkout-container footer,
.mp-checkout-container form,
.mp-checkout-container h1,
.mp-checkout-container h2,
.mp-checkout-container h3,
.mp-checkout-container h4,
.mp-checkout-container h5,
.mp-checkout-container h6,
.mp-checkout-container header,
.mp-checkout-container hgroup,
.mp-checkout-container i,
.mp-checkout-container iframe,
.mp-checkout-container img,
.mp-checkout-container input,
.mp-checkout-container ins,
.mp-checkout-container kbd,
.mp-checkout-container label,
.mp-checkout-container legend,
.mp-checkout-container li,
.mp-checkout-container li input,
.mp-checkout-container mark,
.mp-checkout-container menu,
.mp-checkout-container nav,
.mp-checkout-container object,
.mp-checkout-container ol,
.mp-checkout-container output,
.mp-checkout-container p,
.mp-checkout-container pre,
.mp-checkout-container q,
.mp-checkout-container ruby,
.mp-checkout-container s,
.mp-checkout-container samp,
.mp-checkout-container section,
.mp-checkout-container select,
.mp-checkout-container small,
.mp-checkout-container span,
.mp-checkout-container strike,
.mp-checkout-container strong,
.mp-checkout-container sub,
.mp-checkout-container summary,
.mp-checkout-container sup,
.mp-checkout-container table,
.mp-checkout-container tbody,
.mp-checkout-container td,
.mp-checkout-container tfoot,
.mp-checkout-container th,
.mp-checkout-container thead,
.mp-checkout-container time,
.mp-checkout-container tr,
.mp-checkout-container tt,
.mp-checkout-container u,
.mp-checkout-container ul,
.mp-checkout-container var,
.mp-checkout-container video {
    font: inherit;
    font-family: Proxima Nova, system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Open Sans, Helvetica Neue, sans-serif;
    font-size: 14px;
    font-style: normal;
    line-height: 16px;
    margin: 0;
    padding: 0;
    vertical-align: baseline;
    width: auto
}

.mp-checkout-container {
    border: 0 !important;
    font: inherit !important;
    font-size: 100% !important;
    margin: 0 !important;
    padding: 0 !important;
    vertical-align: baseline !important
}

.mp-vertical-line {
    border-left: 1px solid rgba(0, 0, 0, .25) !important;
    height: 36px !important;
    width: 1px !important
}