.mp-checkout-benefits-container {
  display: flex;
  flex-direction: column !important;
}

.mp-checkout-benefits-container p {
  padding: 0 !important;
}

.mp-checkout-benefits-title {
  font-family: 'Proxima Nova', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif !important;
  font-style: normal !important;
  font-weight: 600 !important;
  font-size: 18px !important;
  line-height: 24px !important;
  color: rgba(26, 26, 26, 1) !important;
  margin-block-start: 0 !important;
  margin-block-end: 0 !important;
  margin-inline-start: 0 !important;
  margin-inline-end: 0 !important;
}

.mp-checkout-benefits-list {
  list-style-type: none !important;
  padding-top: 8px !important;
  margin-block-start: 0 !important;
  margin-block-end: 0 !important;
  margin-inline-start: 0 !important;
  margin-inline-end: 0 !important;
  padding-inline-start: 0 !important;
}

.mp-checkout-benefits-item {
  display: flex;
  align-items: center !important;
  justify-content: flex-start !important;
  font-family: 'Proxima Nova', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif !important;
  font-size: 16px !important;
  line-height: 18px !important;
  color: rgb(0 0 0 / 55%) !important;
  padding: 16px 4px 0 !important;
}

.mp-checkout-benefits-image-list {
  width: auto !important;
  height: auto !important;
  max-width: 100% !important;
  max-height: 100% !important;
  padding: 10px !important;
  position: inherit !important;
  float: none !important;
  margin: 0 !important;
}

.mp-checkout-benefits-image {
  max-width: 32px !important;
  max-height: 32px !important;
}

.mp-checkout-benefits-item span {
  color: #0000008c !important;
  font-size: 14px !important;
  line-height: 25px !important;
}

.mp-checkout-benefits-item b {
  color: #0000008c !important;
  font-size: 14px !important;
  line-height: 25px !important;
  font-weight: 700;
}

.mp-checkout-benefits-item-title {
  font-family: 'Proxima Nova', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif !important;
  font-style: normal !important;
  font-weight: 600 !important;
  font-size: 12px !important;
  line-height: 15px !important;
  color: rgba(26, 26, 26, 1) !important;
  margin-bottom: 6px !important;
}

.mp-checkout-benefits-item-subtitle {
  font-family: 'Proxima Nova', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif !important;
  font-style: normal !important;
  font-weight: 400 !important;
  font-size: 12px !important;
  line-height: 15px !important;
  color: rgba(0, 0, 0, 0.55) !important;
}

.mp-checkout-benefits-count-list-item {
  color: #009ee3 !important;
  font-style: normal !important;
  font-weight: 600 !important;
  font-size: 12px !important;
  line-height: 21px !important;
}

.mp-checkout-benefits-count-list-div {
  min-width: 25px !important;
  height: 25px !important;
  border-radius: 50% !important;
  font-size: 14px !important;
  color: #fff !important;
  line-height: 0px !important;
  text-align: center !important;
  margin-right: 15px !important;
  background: rgb(71 154 209 / 10%) !important;
}

.mp-checkout-benefits-tick-mark-container {
  display: flex;
}

.mp-checkout-benefits-tick-mark {
  width: 14px !important;
  height: 14px !important;
  display: inline-block !important;
  position: relative !important;
  margin-right: 16px !important;
}

.mp-checkout-benefits-tick-mark::before {
  position: absolute !important;
  left: 0 !important;
  top: 50% !important;
  height: 50% !important;
  width: 3px !important;
  background-color: #009ee3 !important;
  content: "" !important;
  transform: translateX(10px) rotate(-45deg) !important;
  transform-origin: left bottom !important;
}

.mp-checkout-benefits-tick-mark::after {
  position: absolute !important;
  left: 0 !important;
  bottom: 0 !important;
  height: 3px !important;
  width: 100% !important;
  background-color: #009ee3 !important;
  content: "" !important;
  transform: translateX(10px) rotate(-45deg) !important;
  transform-origin: left bottom !important;
}
